controller:
  image:
    tag: "lts-jdk17"
  admin:
    username: "admin"
    password: "${jenkins_admin_password}"
  serviceType: LoadBalancer
  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - credentials-binding:latest
    - docker-workflow:latest
    - blueocean:latest
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
  JCasC:
    enabled: true
    defaultConfig: true
    configScripts:
      credentials: |
        credentials:
          system:
            domainCredentials:
              - domain:
                  name: "global"
                  description: "Global domain"
                credentials:
                  - usernamePassword:
                      scope: GLOBAL
                      id: "github-credentials"
                      username: "jenkins"
                      password: ""
                      description: "GitHub Credentials"
      global-env: |
        unclassified:
          globalNodeProperties:
            envVars:
              env:
                - key: "AWS_ACCOUNT_ID"
                  value: "${aws_account_id}"
                - key: "ECR_REPOSITORY_URL"
                  value: "${ecr_repository_url}"
                - key: "GIT_REPO_URL"
                  value: "${git_repo_url}"
