applications:
  - name: django-app
    namespace: default
    project: default
    source:
      repoURL: ${git_repo_url}
      targetRevision: main
      path: charts/django-app
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
repositories:
  - name: app-repo
    url: ${git_repo_url}
    username: ""
    password: ""
    insecure: false
    enableLfs: false
